.preloader {
    position: fixed;
    z-index: 999999999;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.preloader-inner {
    position: absolute;
    border: 0px solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: calc(50vh - 75px);
    left: calc(50vh - -250px);
}

.preloader-inner:before, .preloader-inner:after{
    content: "";
    border: 5em solid #7e57ff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.preloader-inner:before{
    animation-delay: .5s;
}

@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}


.error{
    height: 100vh;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #081828;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.my-table {
    display: flex;
    justify-content: center;
}

.my-table-cell {
    display: flex;
    align-items: center;
}

.error-content{
    display: inline-block;
    padding: 70px 60px;
    background-color: #fff;
    border-radius: 10px;
}

.error .error-content h1 {
    font-size: 110px;
    color: #7e57ff;
    margin-bottom: 20px;
    font-weight: bolder;
}

.error-content h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.error .error-content p {
    font-weight: 400;
    margin-bottom: 30px;
    color: #081828;
    font-size: 16px;
}

.button a{
    color: white;
    background-color: #7e57ff;
    border-radius: 50px;
    padding: 10px 25px;
    transition: all .3s ease;
}

.button:hover a{
    background-color: black;
    color: white;
}